.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px dashed var(--light-color-text);
    flex: 0 0 auto;
    padding: 10px 20px;
  }
  
  .header {
    text-transform: uppercase;
  }
  
  .title {
    color: var(--accent-color-text);
  }
  
  .subtitle {
    color: var(--light-color-text);
    font-size: 18px;
  }
  
  .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .count {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .name {
    font-size: 14px;
    color: var(--light-color-text);
    margin: 0;
  }
  
  .icon {
    cursor: pointer;
    height: 27px;
  }