.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  flex: 1 0 auto;
  height: calc(100vh - 144px - 63px);
}

.wrapper {
  overflow: auto;
  padding: 20px 0;
}